$headerBackgroundColor: #3F2AFF;
$buttonBackgroundColor: #3F2AFF;
$darkColor: #2E2B44;
$offset: 30px;
$sectionPadding: 80px;
$normalGray: #666666;
$lightGray: #85859B;
$borderRadius: 20px;
$coursesAticleBackground: #EDF0F9;
$mobileVerticalPadding: 50px;